h1{
    color: yellow;
    font-size: 100px;
}

#first{
    color : brown;
}

.last{
    color: black;
}

/* Navbar */
.nav{
    min-height: 42px;
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
}

.nav-list{
    padding-left: 0;
    margin: auto 16px;
}

.nav-item{
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

/* Form layout */

.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form__row {
    padding: 8px 0;
    display: flex;
}

.form__label {
    min-width: 90px;
}

.form__input {
    flex: 1;
}

/* Column layout */

.column-layout{
    margin-top: 36px;
    padding: 10px 0;
    background-color: #fff;
    display: flex;
}

.column-item{
    padding: 0 16px;
}

.sidebar-one{
    flex : 1;
}

.sidebar-two{
    flex : 1;
}

.main-column{
    flex: 3;
}

/* BEM BUTTON CSS */

.btn-container{
    margin-top: 10px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s ease;
    min-width: 140px;
}

.btn:hover{
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--success{
    background-color: #71be34;
}

.btn--warn{
    background-color: #ffb702;
}

.btn--danger{
    background-color: #ff623d;
}

.btn-disabled{
    opacity: 0.4 !important;
    cursor: default;
}

.btn--size-s{
    padding: 12px 28px;
}

.btn--size-l{
    padding: 22px 38px;
}

.btn--size-xl{
    padding: 32px 98px;
}